.news-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
  }
.news-title {
    overflow: hidden;
    text-overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

.news-img {
    height: 224px;
}

.source {
    display: flex;
    justify-content: space-between;
}

.source-name {
    font-size: 15px;
    font-weight: 500;
    color: crimson;
}