.cta {
  background: #3fbbc0;
  color: #fff;
  background-size: cover;
  padding: 60px 0;
}
.cta h3 {
  font-size: 28px;
  font-weight: 700;
}
.cta .cta-btn {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 35px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}
.cta .cta-btn:hover {
  background: #fff;
  color: #3fbbc0;
}
a {
    text-decoration: none;
}
